@import "../../../styles/variables";
.nav {
  color: $white;
  font-family: "Dosis";
  padding: 25px 0;

  &-item {
    text-transform: uppercase;
    margin-right: 24px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  &-link {
    color: $white;
  }
}

/* Media query */

@media (max-width: 1199px) {
  .nav {

    &-item {
      a {
        padding: 0;
      }
      font-size: 12px;
    }

    &__submit {
      button {
        font-size: 12px !important;
        padding: 10px 5px;
      }
    }
  }
}
