<div class="container">
  <div class="popular">
    <div class="popular__title">
      <h5><span>Popular Properties</span></h5>
    </div>
    <div class="popular__body">
      <div class="row w-100 m-auto">
        <div class="col-12 col-md-6 popular__card">
          <img src="../../../assets/img/520x295.png" alt="">
          <div class="popular__card-title">
            <h3>
              Apartment for Sale with 3 Rooms
              in Tunari Village, Ilfov County
            </h3>
          </div>
        </div>
        <div class="col-12 col-md-6 popular__card">
          <img src="../../../assets/img/520x295.png" alt="">
          <div class="popular__card-title">
            <h3>
              Apartment for Sale with 3 Rooms
              in Tunari Village, Ilfov County
            </h3>
          </div>
        </div>
        <div class="col-12 col-md-4 popular__card">
          <img src="../../../assets/img/520x295.png" alt="">
          <div class="popular__card-title">
            <h3>
              Apartment for Sale with 3 Rooms
              in Tunari Village, Ilfov County
            </h3>
          </div>
        </div>
        <div class="col-12 col-md-4 popular__card">
          <img src="../../../assets/img/520x295.png" alt="">
          <div class="popular__card-title">
            <h3>
              Apartment for Sale with 3 Rooms
              in Tunari Village, Ilfov County
            </h3>
          </div>
        </div>
        <div class="col-12 col-md-4 popular__card">
          <img src="../../../assets/img/520x295.png" alt="">
          <div class="popular__card-title">
            <h3>
              Apartment for Sale with 3 Rooms
              in Tunari Village, Ilfov County
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
