<div id="mainCarouselCaptions" class="carousel slide slider d-flex" data-ride="">
  <ol class="carousel-indicators slider__indicators">
    <li data-target="#mainCarouselCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#mainCarouselCaptions" data-slide-to="1"></li>
    <li data-target="#mainCarouselCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner container slider__body">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-7">
          <div class="slider__featured">
            <div class="slider__featured-title">
              <h3>Penthouse Apartment with 5 Rooms in Pipera-Baneasa Forest Area</h3>
            </div>
            <div class="slider__featured-description">
              <p>
                Penthouse apartment for sale located on Iancu Nicolae Road. With this property you can enjoy the
                advantages such as proximity to Baneasa Forest and the benefits of a luxury residential area, all in the
                immediate vicinity of the largest shopping centers in Bucharest – Baneasa Shopping City, Carrefour,
                Metro, Bricostore and Mobexpert.
              </p>
            </div>
            <div class="slider__btn">
              <button class="green-btn slider__btn-details">View Details</button>
              <button class="slider__btn-all">See All Apartaments</button>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="slider__image d-flex">
            <img src="../../../assets/img/placeholder-2.png" alt="PaceHolder">
            <div class="slider__image-title">
              <span>Penthouse Apartment</span>
            </div>
            <div class="slider__image-circle">
              <div class="slider__image-price">
                € 132.000
                <div class="slider__image-forsale d-flex">
                  <span class="m-auto">for sale</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-7">
          <div class="slider__featured">
            <div class="slider__featured-title">
              <h3>Penthouse Apartment with 5 Rooms in Pipera-Baneasa Forest Area</h3>
            </div>
            <div class="slider__featured-description">
              <p>
                Penthouse apartment for sale located on Iancu Nicolae Road. With this property you can enjoy the
                advantages such as proximity to Baneasa Forest and the benefits of a luxury residential area, all in the
                immediate vicinity of the largest shopping centers in Bucharest – Baneasa Shopping City, Carrefour,
                Metro, Bricostore and Mobexpert.
              </p>
            </div>
            <div class="slider__btn">
              <button class="green-btn slider__btn-details">View Details</button>
              <button class="slider__btn-all">See All Apartaments</button>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="slider__image d-flex">
            <img src="../../../assets/img/placeholder-2.png" alt="PaceHolder">
            <div class="slider__image-title">

            </div>
            <div class="slider__image-circle">
              <div class="slider__image-price">
                € 132.000
                <div class="slider__image-forsale d-flex">
                  <span class="m-auto">for sale</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-7">
          <div class="slider__featured">
            <div class="slider__featured-title">
              <h3>Penthouse Apartment with 5 Rooms in Pipera-Baneasa Forest Area</h3>
            </div>
            <div class="slider__featured-description">
              <p>
                Penthouse apartment for sale located on Iancu Nicolae Road. With this property you can enjoy the
                advantages such as proximity to Baneasa Forest and the benefits of a luxury residential area, all in the
                immediate vicinity of the largest shopping centers in Bucharest – Baneasa Shopping City, Carrefour,
                Metro, Bricostore and Mobexpert.
              </p>
            </div>
            <div class="slider__btn">
              <button class="green-btn slider__btn-details">View Details</button>
              <button class="slider__btn-all">See All Apartaments</button>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="slider__image d-flex">
            <img src="../../../assets/img/placeholder-2.png" alt="PaceHolder">
            <div class="slider__image-title">

            </div>
            <div class="slider__image-circle">
              <div class="slider__image-price">
                € 132.000
                <div class="slider__image-forsale d-flex">
                  <span class="m-auto">for sale</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a class="slider__control-prev" href="#mainCarouselCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="slider__control-next" href="#mainCarouselCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
