@import "../../../styles/variables";
.slider {
  height: 640px;
  max-width: 1600px;
  margin: auto;

  &__control {
    &-prev {
      position: absolute;
      background-color: $black;
      opacity: 0.8;
      width: 50px;
      height: 50px;
      bottom: 360px;
      transition: opacity 0.15s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 0;

      .carousel-control-prev-icon {
        width: 12px;
      }

      &:hover {
        background-color: $primary;
        opacity: 1;
      }
    }
    &-next {
      position: absolute;
      background-color: $black;
      opacity: 0.8;
      width: 50px;
      height: 50px;
      bottom: 360px;
      transition: opacity 0.15s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;

      .carousel-control-next-icon {
        width: 12px;
      }

      &:hover {
        background-color: $primary;
        opacity: 1;
      }
    }
  }

  &__body {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
  }

  &__indicators {
    bottom: 100px;
    margin-bottom: 0;

    li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
    }
  }

  &__featured {
    color: $white;

    &-title {
      h3 {
        font-family: "Dosis";
        margin-bottom: 20px;
        font-size: 32px;
        letter-spacing: 2px;
      }
    }

    &-description {
      font-family: "Merriweather";
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__btn {
    &-all {
      font-family: "Dosis";
      background: transparent;
      border: none;
      padding: 20px 0;
      color: $white;
      font-size: 14px;
      letter-spacing: 1px;
      border-radius: 3px;
      margin-left: 40px;
    }
  }

  &__image {
    img {
      width: 380px;
      height: 380px;
      object-fit: cover;
      border-radius: 50%;
    }

    &-outercircle {
      width: 400px;
      height: 400px;
      object-fit: cover;
      border: 10px solid $white;
      border-radius: 50%;
      margin-left: auto;
    }

    &-circle {
      position: absolute;
      width: 150px;
      height: 150px;
      background: $primary;
      border: 5px solid $white;
      border-radius: 50%;
      bottom: 14px;
      display: flex;
    }

    &-price {
      font-family: "Dosis";
      font-size: 24px;
      letter-spacing: 1px;
      color: $white;
      margin: auto;
    }

    &-forsale {
      font-family: "Merriweather BoldItalic";
      font-size: 14px;
      letter-spacing: 1px;
      color: $dark-gray;
    }

    &-title {
      position: absolute;
      background: $white;
      padding: 20px 0;
      width: 70%;
      bottom: 60px;
      right: 39px;
      display: flex;
      border-bottom-right-radius: 70px 85px;

      span {
        font-size: 18px;
        letter-spacing: 1px;
        color: $light-gray;
        font-family: "Dosis";
        margin: auto;
        margin-left: 75px;
      }
    }
  }
}


/* Media query */

@media (max-width: 768px) {
  .slider {
    &__featured {
      &-title {
        h3{
          font-size: 22px;
        }
      }

      &-description {
        font-size: 14px;
      }
    }

    &__btn {
      &-all {
        padding: 10px 0;
        font-size: 12px;
      }

      &-details {
        padding: 10px;
        font-size: 12px;
      }
    }
  }
}


@media (max-width: 1199px) {
  .slider {
    &__image {
      img {
        width: 300px;
        height: 300px;
      }

      &-outercircle {
        width: 320px;
        height: 320px;
      }

      &-circle {
        bottom: 40px;
      }

      &-title {
        right: 36px;
        bottom: 85px;
        border-bottom-right-radius: 70px 75px;
        width: 68%;

        span {
          font-size: 16px;
        }
      }
    }
  }
}


@media (max-width: 991px) {
  .slider {
    &__image {
      img {
        width: 250px;
        height: 250px;
      }

      &-outercircle {
        width: 270px;
        height: 270px;
      }

      &-circle {
        bottom: 155px;
        width: 100px;
        height: 100px;
      }

      &-price {
        font-size: 16px;
      }

      &-title {
        bottom: 168px;
        padding: 10px 0;
        right: 31px;
        border-bottom-right-radius: 80px 70px;
      }
    }
  }
}
