@import 'fonts';

//colors
$gray: #838B92;
$light-gray: #959595;
$gray-100: #ececec;
$white: #ffffff;
$black: #000000;
$dark-gray: #458020;
$primary: #70b247;
$secondary: #175D98;


//Fonts
$font-dosis: 'Dosis', sans-serif;
