<div class="card">
  <img class="card-img-top" src="http://realestate-task.draft2017.com/storage/photos/{{ src }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">
      {{ content }}
    </p>
    <div class="card__buttons d-flex justify-content-spac">
      <div class="card__favorite">
        <a href="" class="d-flex justify-content-center">
          <img class="mr-1" src="../../../assets/svg/star-solid.svg" alt="Star">
          <span>Favorite</span>
        </a>
      </div>
        <a href="#" class="card-link card__price justify-content-center d-flex">$ {{ price }}</a>
    </div>
  </div>
</div>
