<div class="card">
  <img class="card-img-top" src="../../../assets/img/360x240.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Apartment with 3 Rooms in Cosmopolis</h5>
    <p class="card-text">
      Duplex apartment for sale located in Cosmopolis, in Pipera-Baneasa Forest area. It’s a
      luxurious residential building consisting of 4 apartments.
    </p>
    <div class="card__buttons d-flex justify-content-spac">
      <div class="card__favorite">
        <a href="" class="d-flex justify-content-center">
          <img class="mr-1" src="../../../assets/svg/star-solid.svg" alt="Star">
          <span>Favorite</span>
        </a>
      </div>
        <a href="#" class="card-link card__price justify-content-center d-flex">$ 270.000</a>
    </div>
  </div>
</div>
