<div class="top-header">
  <div class="container d-md-flex">
    <div class="top-header__contact d-flex">
      <div class="top-header__contact-number d-flex">
        <img src="../../../assets/svg/phone-solid.svg" alt="Phone Icon">
        <span><a href="tel:123-456-7890">0729.645.780</a></span>
      </div>
      <div class="top-header__contact-email d-flex">
        <img src="../../../assets/svg/envelope-solid.svg" alt="Email Icon">
        <span><a href="mailto:contact@realestate.com">contact@realestate.com</a></span>
      </div>
    </div>
    <div class="top-header__nav ml-auto d-flex">
      <div class="top-header__nav-favorites d-flex">
        <a href="" class="d-flex m-auto">
          <img src="../../../assets/svg/star-solid.svg" alt="Star">
          <span>Favorites</span>
        </a>
      </div>
      <div class="top-header__nav-login d-flex">
        <a href="" class="d-flex m-auto">
          <img src="../../../assets/svg/sign-in-alt-solid.svg" alt="Sign In">
          <span class="mr-2">Login / Register</span>
        </a>
      </div>
    </div>
    <div class="top-header__socials">
      <ul class="top-header__socials-list p-0 m-0 d-flex">
        <li class="top-header__socials-item">
          <a href="">
            <img src="../../../assets/svg/facebook-f-brands.svg" alt="Facebook Icon">
          </a>
        </li>
        <li class="top-header__socials-item">
          <a href="">
            <img src="../../../assets/svg/twitter-brands.svg" alt="Facebook Icon">
          </a>
        </li>
        <li class="top-header__socials-item">
          <a href="">
            <img src="../../../assets/svg/linkedin-in-brands.svg" alt="Facebook Icon">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
