<div class="sidebar">
  <ul>
    <li><a routerLink="/admin"><img src="../../../../../assets/svg/desktop-solid.svg" alt=""><span>Dashboard</span></a></li>
    <li><a routerLink="/"><img src="../../../../../assets/svg/eye-regular.svg" alt=""><span>Web Page</span></a></li>
    <li><a routerLink="/admin/articles"><img src="../../../../../assets/svg/newspaper-regular.svg" alt=""><span>Articles</span></a></li>
    <li><a routerLink="/admin/contact"><img src="../../../../../assets/svg/envelope-solid.svg" alt=""><span>Contact</span></a></li>
    <li><a routerLink="/admin/about"><img src="../../../../../assets/svg/newspaper-regular.svg" alt=""><span>About Content</span></a></li>
  </ul>
</div>

