<div class="featured">
  <div class="container">
    <div class="featured__header">
      <div class="featured__header-title">
        We are Offering the Best Real Estate Deals
      </div>
      <div class="featured__header-subtitle">
        Look at our latest listed properties and check out the facilities on
        them, We have already sold more than 5,000 Homes and we are still going
        at very good pace. We would love you to look into these properties and
        we hope that you will find something match-able to your needs.
      </div>
    </div>
    <div class="featured__caurosel">
      <div class="featured__body">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-12">
              <div id="carousel" class="carousel slide d-none d-lg-block " data-ride="carousel">
                <ol class="carousel-indicators featured-indicators">
                  <li data-target="#carousel" data-slide-to="0" class="active bg-secondary"></li>
                  <li data-target="#carousel" data-slide-to="1" class="bg-secondary"></li>
                  <li data-target="#carousel" data-slide-to="2" class="bg-secondary"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                      <div class="col-12 col-md-4 mb-5">
                        <app-propertie-card></app-propertie-card>
                      </div>
                      <div class="col-12 col-md-4 mb-5">
                        <app-propertie-card></app-propertie-card>
                      </div>
                      <div class="col-12 col-md-4 mb-5">
                          <app-propertie-card></app-propertie-card>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-12 col-md-4 mb-5">
                        <app-propertie-card></app-propertie-card>
                      </div>
                      <div class="col-12 col-md-4 mb-5">
                        <app-propertie-card></app-propertie-card>
                      </div>
                      <div class="col-12 col-md-4 mb-5">
                          <app-propertie-card></app-propertie-card>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class="row">
                      <div class="col-12 col-md-4 mb-5">
                        <app-propertie-card></app-propertie-card>
                      </div>
                      <div class="col-12 col-md-4 mb-5">
                        <app-propertie-card></app-propertie-card>
                      </div>
                      <div class="col-12 col-md-4 mb-5">
                          <app-propertie-card></app-propertie-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Mobile -->
              <div id="carouse2" class="carousel slide d-block d-lg-none" data-ride="carousel">
                <ol class="carousel-indicators featured-indicators">
                  <li data-target="#carouse2" data-slide-to="0" class="active bg-secondary"></li>
                  <li data-target="#carouse2" data-slide-to="1" class="bg-secondary"></li>
                  <li data-target="#carouse2" data-slide-to="2" class="bg-secondary"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active mb-5">
                    <app-propertie-card></app-propertie-card>
                  </div>
                  <div class="carousel-item mb-5">
                    <app-propertie-card></app-propertie-card>
                  </div>
                  <div class="carousel-item mb-5">
                    <app-propertie-card></app-propertie-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
