<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
      <main>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-5">
                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                          <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                          <div class="card-body">
                              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                                  <div class="form-group">
                                      <label class="small mb-1" for="inputEmailAddress">Email</label>
                                      <input formControlName="email" [ngClass]="{'is-invalid': form.email.invalid && (form.email.dirty || form.email.touched)}" class="form-control py-4" id="inputEmailAddress" type="email" placeholder="Enter email address" required />
                                      <div *ngIf="form.email.invalid && (form.email.dirty || form.email.touched)" class="invalid-feedback">
                                        <div *ngIf="form.email.errors?.required">Email is required</div>
                                        <div *ngIf="form.email.errors?.email">Provide a valid email</div>
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <label class="small mb-1" for="inputPassword">Password</label>
                                      <input formControlName="password" [ngClass]="{'is-invalid': form.password.invalid && (form.password.dirty || form.password.touched)}" class="form-control py-4" id="inputPassword" type="password" placeholder="Enter password" required />
                                      <div *ngIf="form.password.invalid && (form.password.dirty || form.password.touched)" class="invalid-feedback">
                                        Password is required
                                      </div>
                                  </div>
                                  <div class="form-group">
                                      <div class="custom-control custom-checkbox">
                                          <input class="custom-control-input" id="rememberPasswordCheck" type="checkbox" />
                                          <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                      </div>
                                  </div>
                                  <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                      <a class="small" routerLink="/reset" routerLinkActive="router-link-active" >Forgot Password?</a>
                                      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
                                      <div class="card-block">
                                        <button class="btn btn-social-icon btn-google" (click)="signInWithGoogle()"><img src="../../../assets/svg/google-brands.svg" alt=""></button>
                                        <button class="btn btn-social-icon btn-facebook" (click)="signInWithFB()"><img src="../../../assets/svg/facebook-register.svg" alt=""></button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                          <div class="card-footer text-center">
                              <div class="small"><a routerLink="/register">Need an account? Sign up!</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
  <!-- <app-auth-footer></app-auth-footer> -->
</div>
