<div class="footer__background">
  <div class="container">
    <div class="footer">
      <div class="row">
        <div class="col-12 col-md-4">
          <div class="footer__about">
            <h3 class="footer__about-title">About us</h3>
            <p class="footer__about-content">
              Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officiala deserunt mollit anim id est
              laborum.
              <br><br>
              Neque porro quisquam est, qui dolorem ipsum quia dolor siamet, consectetur, adipisci velit, sed quia numquam
              eus modi tempora incidunt labore et dolore magnam aliquam quvoluptatem.
            </p>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="footer__type">
            <h3>Property types</h3>
            <ul class="footer__list">
              <li class="footer__list-item">Villa</li>
              <li class="footer__list-item">Residential</li>
              <li class="footer__list-item">Apartment</li>
              <li class="footer__list-item">Condominium</li>
              <li class="footer__list-item">Shop</li>
              <li class="footer__list-item">Office</li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-md-2">
          <div class="footer__locations">
            <h3>Locations</h3>
            <ul class="footer__list">
              <li class="footer__list-item">Bucharest</li>
              <li class="footer__list-item">Constanta</li>
              <li class="footer__list-item">Brasov</li>
              <li class="footer__list-item">Cluj-Napoca</li>
              <li class="footer__list-item">Craiova</li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-4">
          <div class="footer__blog">
            <h3>From the Blog</h3>
            <div class="footer__blog-card d-flex">
              <img src="../../../assets/img/82x82.png" alt="">
              <div class="footer__blog-content">
                <div class="footer__blog-title">
                  Making First Impressions Count with Leongatha Home
                </div>
                <div class="footer__blog-tag d-inline">
                  Interior design
                </div>
                <div class="footer__blog-date d-block d-md-inline">
                  <img src="../../../assets/svg/clock-regular.svg" alt="">
                  <span>March 18, 2016</span>
                </div>
              </div>
            </div>
            <div class="footer__blog-card d-flex">
              <img src="../../../assets/img/82x82.png" alt="">
              <div class="footer__blog-content">
                <div class="footer__blog-title">
                  Making First Impressions Count with Leongatha Home
                </div>
                <div class="footer__blog-tag d-inline">
                  Interior design
                </div>
                <div class="footer__blog-date d-block d-md-inline">
                  <img src="../../../assets/svg/clock-regular.svg" alt="">
                  <span>March 18, 2016</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copyright container d-block d-md-flex">
          <img src="../../../assets/img/logo-dark.png" alt="Logo">
          <div class="footer__copyright-text">Copyright © 2016 RealEstate, Inc. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>
</div>
