<div class="container">
  <div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="row search__firstrow">
        <div class="form-group search__location col-3">
          <select id="inputCity" class="search__select" formControlName="city">
            <option value="" selected>Loaction</option>
            <option *ngFor="let city of citys" [ngValue]="city">
              {{ city }}
            </option>
          </select>
        </div>
        <div class="form-group search__status col-3">
          <select id="inputStatus" class="search__select" formControlName="status">
            <option value="" selected>Property Status</option>
            <option *ngFor="let status of statuses" [ngValue]="status">
              {{ status }}
            </option>
          </select>
        </div>
        <div class="form-group search__type col-3">
          <select id="inputType" class="search__select" formControlName="type">
            <option value="" selected>Property Type</option>
            <option *ngFor="let type of types" [ngValue]="type">
              {{ type }}
            </option>
          </select>
        </div>
        <div class="form-group search__keyword col-3">
          <input formControlName="keyword" class="form-control py-4 search__keyword-input" id="inputKeyword" type="text"
            placeholder="Enter Your Keyword" />
        </div>
      </div>
      <div class="row">
        <div class="form-group search__badroom col-2">
          <select id="inputBedrooms" class="search__select" formControlName="bedroom">
            <option value="" selected>Bedrooms</option>
            <option *ngFor="let bedroom of badrooms" [ngValue]="bedroom">
              {{ bedroom }}
            </option>
          </select>
        </div>
        <div class="form-group search__bathroom col-2">
          <select id="inputBathroom" class="search__select" formControlName="bathroom">
            <option value="" selected>Bathrooms</option>
            <option *ngFor="let bathroom of bathrooms" [ngValue]="bathroom">
              {{ bathroom }}
            </option>
          </select>
        </div>
        <div class="search__price range-slider col-3">
          <ng5-slider [(value)]="minValuePrice" [(highValue)]="maxValuePrice" [options]="optionsPrice"></ng5-slider>
        </div>
        <div class="search__meter range-slider col-3">
          <ng5-slider [(value)]="minValueMeter" [(highValue)]="maxValueMeter" [options]="optionsMeter"></ng5-slider>
        </div>
        <div class="col-2">
          <button type="submit" class="green-btn search__submit w-100">
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

