<div class="container">
  <div class="search">
    <div class="row search__firstrow">
      <div class="search__location col-3">
        <select id="inputState" class="search__select">
          <option selected>Location</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="search__status col-3">
        <select id="inputState" class="search__select">
          <option selected>Property Status</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="search__type col-3">
        <select id="inputState" class="search__select">
          <option selected>Property Type</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="search__keyword col-3">
        <input class="search__keyword-input" type="text" placeholder="Enter Your Keyword">
      </div>
    </div>
    <div class="row">
      <div class="search__bedrooms col-2">
        <select id="inputState" class="search__select">
          <option selected>Bedrooms</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="search__bathromms col-2">
        <select id="inputState" class="search__select">
          <option selected>Bathrooms</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="search__price col-3">
        <select id="inputState" class="search__select">
          <option selected>Price</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="search__meter col-3">
        <select id="inputState" class="search__select">
          <option selected>Meter</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="col-2">
        <button class="green-btn search__submit w-100">Search</button>
      </div>
    </div>
  </div>
</div>
