<div class="card">
  <div class="card-header">
    About
  </div>
  <div class="card-body">
    <div class="about">
      <form>
        <div class="form-group">
          <label for="about-title">Title:</label>
          <input type="email" class="form-control" id="about-title" placeholder="Enter About Title">
        </div>
        <div class="form-group">
          <label for="about-content">Body:</label>
          <textarea class="form-control" id="about-content" rows="5" placeholder="Enter About Content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
