@import "styles/variables";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//comon styles
.green-btn {
  font-family: "Dosis";
  background-color: $primary;
  color: $white;
  border-radius: 3px;
  padding: 20px;
  text-transform: uppercase;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
